* { font-family: "JetBrainsMono Nerd Font"; font-size: 13px; }
window#waybar { background: {{ colors.surface.default.hex }}; color: {{ colors.on_surface.default.hex }}; }
#workspaces button { padding: 0 5px; color: {{ colors.on_surface.default.hex }}; }
#workspaces button.active { color: {{ colors.primary.default.hex }}; }
#workspaces button.urgent { color: {{ colors.error.default.hex }}; }
#clock { padding: 0 10px; }
#pulseaudio, #network, #cpu, #memory, #tray { padding: 0 8px; }
